*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.body-main{
    margin-top: 30px;
    display: flex;
    width: 100%;
}

/* css banner */
.body-banner {
    position: relative;
    background-image: url('./banner.jpg');
    background-size: cover;
    height: 250px;
  }
.body-banner-text {
    background-color: rgb(7 11 67 / 80%);
    width: 100%;
    height: 250px;
    position: absolute;
    text-align: center;
    color: #060606;
    background-size: cover;
  }
.banner-text{
    font-size: 35px;
    padding-top: 110px;
    font-weight: 600;
    color: #ff630e;
  }  

/* css body left*/
.body-left{
    width: 25%;
}

.body-left-text{
    text-align: center;
    font-weight: 600;
    color: #4b4b4bd6;
}

hr:not([size]) {
    height: 2px;
}

hr {
    margin-left: 37px;
    margin-top: 15px;
    width: 76%;
    color: #4b4b4b;
    size: 5px;
}

/* .body-left-infor{
   
} */

.body-left-infor-mid{
    padding-top: 10px;
    padding-bottom: 10px;
}

.body-left-infor-boder{
    margin-bottom: 20px;
    padding-left: 2%;
    margin-left: 37px;
    border: 3.5px solid #949292ad;
    border-radius: 13px;
    margin-right: 14%;
}

.body-left-infor-text{
    font-size: 14px;
    margin-top: 5px;
    color: #4b4b4bd6;
    font-weight: 600;
}

/* css body mid*/


.body-mid{
    width: 45%;
}

#number{
  font-weight: 700;
  color: #ff630e;
}

.body-mid-text{
    font-weight: 600;
    color: #4b4b4bd6;
}

.body-mid-hr{
    margin-left: 0px;
    margin-top: 15px;
    width: 90%;
    color: #4b4b4b;
    size: 5px;
}

.body-mid-regi{
    width: 90%;
}

.body-mid-regi-text-h{
    font-weight: 600;
    color: #4b4b4b;
}

.body-mid-regi-text-p{
    color: #4b4b4bd6;
    text-align: right;
    font-size: 14px;
}

.body-mid-infor-boder{
    width: 100%;
    padding-left: 2%;
    margin-left: 0px;
    border: 3.5px solid #949292ad;
    border-radius: 13px;
    margin-right: 14%;
}

.body-mid-infor-boder-1{
  margin-top: 20px;
  width: 100%;
  padding-left: 2%;
  margin-left: 0px;
  border: 3.5px solid #949292ad;
  border-radius: 13px;
  margin-right: 14%;
}


.body-mid-infor-boder-main{
    display: flex;
    width: 100%;
}

.img-mid{
    margin: 19px 8px 14px 0px;
    width: 20%;
    height: 126px;
    border-radius: 5px;
}

.body-mid-infor-boder-text-1{
  width: 116%;
    display: flex;
}

.body-mid-infor-boder-text{
    margin-top: 19px;
    width: 140%;
}

.body-left-infor-text-color{
    line-height: 0.7;
    font-size: 12px;
    margin-top: 5px;
    color: #181818d6;
    font-weight: 600;
}

.body-left-infor-text-item{
    line-height: 0.7;
    font-size: 12px;
    margin-top: 5px;
    color: #4b4b4bd6;
}

.body-left-infor-text-color-right{
    font-size: 12px;
    font-weight: 600;  
    width: 15%; 
}

.button-delete{
    background-color: #fefefe;
    border: none;
    color: #ff630e;  
    margin-top: 130px;
    margin-right: 5px;
}
.button-delete1{
  background-color: #fefefe;
  border: none;
  color: #ff630e;  
  margin-top: 130px;
  margin-right: 5px;
}

.button-delete-1{
  background-color: #fefefe;
  border: none;
  color: #ff630e;  
}
/* css body right*/
.body-right{
    width: 30%;
}

.body-right-text{
    color: #4b4b4bd6;
    font-weight: 600;
    text-align: center;
}

.body-right-hr{
    margin-left: 0px;
    margin-top: 15px;
    width: 90%;
    color: #4b4b4b;
    size: 5px;
}

.body-right-infor-text{
    font-size: 14px;
    margin-top: 5px;
    color: #4b4b4bd6;
    font-weight: 600;
}

.body-right-infor-text-name{
    font-size: 14px;
    margin-top: 5px;
    color: #4b4b4bd6;;
}

.body-right-infor{
    display: flex;
}

.body-right-regi-text-h{
    font-weight: 600;
    color: #4b4b4b;
    text-align: center;
}
/* coed */
.promo-code{
    display: flex;
}

.promo-code__submit {
    background-color: transparent;
    border: none;
    color: #008CBA;
    padding: 0;
    text-align: center;
    font-size: 15px;
    margin: 0.5px 3px;
  }
  
  .promo-code__submit i {
    color: #008CBA;
  }
  
  .promo-code__submit--intro i {
    color: #4CAF50;
  }

/* hoi cham */
.question__button {
    background-color: transparent;
    border: none;
    color: #008CBA;
    padding: 0;
    text-align: center;
    font-size: 16px;
    margin: 1px 7px;
  }
  
  .question__button i {
    color: #008CBA;
  }
  
  .question__content {
    display: none;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }
  
  .popup__content {
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 2px solid #565656eb;
    width: 35%;
    max-width: 600px;
  }
  
  .popup__close { 
    margin-top: -8px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popup__close:hover,
  .popup__close:focus {
    color: #9f2a2a;
    text-decoration: none;
    cursor: pointer;
  }
  .popup__exit {
    display: none;
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .popup__exit:hover {
    background-color: #006d87;
  }
  
  .popup__question p {
    margin: 0;
  }
  
  .question__content-1{
    font-weight: 600;
  }
  .my-input{
    height: 25px;
    border-radius: 3px;
    border-color: #ff630e;
    width: 50%;
    border: 2px solid #ff5e00;
  }

  .my-input-1{
    margin-left: 47px;
    height: 25px;
    border-radius: 3px;
    border-color: #ff630e;
    width: 30%;
    border: 2px solid #ff5e00;
  }
  .my-input:focus {
    border-color: rgb(199, 21, 21) !important;
  }

  .promo-code-1{
    display: flex;
    margin-top: 20px;
  }
  .body-right{
    display: inline-block;
  }
  .body-right-infor-text-color-right{
    font-size: 12px;
    margin-top: 5px;
    color: #ff630e;
    font-weight: 600;
    width: 10%;
  }
/* hoi cham */
.question__button1 {
  background-color: transparent;
  border: none;
  color: #008CBA;
  padding: 0;
  text-align: center;
  font-size: 16px;
  margin: 2px 7px;
}

.question__button1 i {
  color: #008CBA;
}

.question__content1 {
  display: none;
}

.popup1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.popup__content1 {
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 2px solid #565656eb;
  width: 35%;
  max-width: 600px;
}

.popup__close1 { 
  margin-top: -8px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.popup__close1:hover,
.popup__close1:focus {
  color: #9f2a2a;
  text-decoration: none;
  cursor: pointer;
}
.popup__exit1 {
  display: none;
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.popup__exit1:hover {
  background-color: #006d87;
}

.popup__question1 p {
  margin: 0;
}

.question__content-11{
  font-weight: 600;
}

.body-right-infor-boder-text {
  margin-top: 5px;
  width: 100%;
}
.body-right-infor-text-color {

  font-size: 14px;
  margin-top: 5px;
  color: #181818d6;
}
.body-right-infor-text-item {

  font-size: 14px;
  margin-top: 5px;
  color: #181818d6;
  font-weight: 600;
}

.body-right-infor-boder-1{
  margin-top: 20px;
  width: 100%;
  padding-left: 2%;
  margin-left: 0px;
  border: 2px dashed #3f3f3fad;
  border-radius: 5px;
  margin-right: 14%;
}
/*  */
select {
  height: 27px;
  padding: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;

  width: 50%;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.prince{
  align-items: center;
  margin-top: 20px;
  display: flex;
}
.prince-p{
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #ff630e;
}
.prince-l{
  width: 20%;
  color: #4b4b4b;
  font-size: 13px;
  font-weight: 600;
}

.body-right-infor-boder-main{
  display: flex;
  width: 100%;
}
.body-right-puch-text-h{
  margin-top: 20px;
  font-weight: 600;
  color: #4b4b4b;
}

.payment-container {
  width: 100%;
  margin-top: 8%;
  margin-left: 35%;
  display: flex;
}
.momo{
  height: 36px;
  width: 86%;
}
.viettel{
  height: 36px;
  width: 86%;
}
.momo-button{
  border-color: #ffffff51;
  margin-right: 20px;
  border-radius: 5px;
  width: 13%;
  height: 54px;
  box-shadow: 0px 0px 6px 3px #AAA;
}
.momo-button:focus{
  margin-right: 20px;
  border-radius: 5px;
  background-color: white;
  border-color: rgb(21, 204, 21);
}

.viettel-button{
  border-color: #ffffff51;
  border-radius: 5px;
  width: 13%;
  height: 54px;
  background-color: white;
  box-shadow: 0px 0px 6px 3px #AAA;
}

.viettel-button:focus{
  border-radius: 5px;
  background-color: white;
  border-color: rgb(21, 204, 21);
}

.button-puch {
  margin-left: 28%;
  border-radius: 5px;
  width: 45%;
  height: 30px;
  margin-top: 20px;
  border: none;
  background-color: #4CAF50;
}

.body-right-puch{
  font-size: 14px;
  align-items: center;
 
  font-weight: 600;
  color: white;
}

.body-right-infor-boder-2{
  margin-top: 20px;
  width: 100%;
  padding-left: 2%;
  margin-left: 0px;
  border: 2px solid #3f3f3fad;
  border-radius: 5px;
  margin-right: 14%;
}

.body-right-infor-text-2{
  margin-left: 35%;
  font-size: 15px;
  margin-top: 5px;
  color: #4b4b4bd6;
  font-weight: 600;
}
.body-right-hr{
  margin-left: 0px;
  margin-top: 15px;
  width: 97%;
  color: #4b4b4b;
  size: 5px;
}

.body-right-infor-boder-3 {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 99%;
  padding-left: 2%;
  margin-left: 0px;
  border: 2px solid #3f3f3fad;
  border-radius: 5px;
  margin-right: 14%;
}
.body-mid-infor-boder-text-2 {
  margin-bottom: 10px;
  display: flex;
}

/*  */
.payment-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.payment-popup-1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.payment-header h2 {
  margin: 0;
}

.close-button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.payment-form {
  display: flex;
  background-color: white;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  border-radius: 10px;
}

.payment-form label {
  margin-left: 20px;
  display: block;
  margin-top: 13px;
  font-weight: bold;
}

.payment-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

.close-button {
  padding: 10px;
  background-color: #0d0a37;
  color: #f4650b;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 4%;
}
.payment-left-text{
  color: #f4650b;
  font-size: 20px;
}
.payment-left{
  
  font-weight: bold;
  border-radius: 10px 0 0 10px;
    background-color: #0d0a37;
    width: 33%;
}

.payment-right{
  width: 67%;
}
.payment-left-text-l{
  color: white;
  font-size: 20px;
  text-align: center;
}

.payment-left-text-ll{
  font-weight: 100;
  color: white;
  font-size: 15px;
  text-align: center;
}

.body-payment-hr {
  margin-left: 18px;
  margin-top: 15px;
  width: 85%;
  color: #aba1a1;
  size: 5px;
}

.payment-right-img-1{
  margin-left: 4%;
    width: 11%;
    height: 52px;
    border-radius: 5px;
    margin-top: 2%;
}
.payment-right-img-2{
  margin-left: 68%;
  width: 11%;
  height: 52px;
  border-radius: 5px;
  margin-top: 2%;
}

.payment-right-quet{
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #9d0756;
}

.payment-right-quet-1{
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #ee0032;
}

.payment-right-img-3{
  margin-left: 33%;
  width: 32%;
  height: 160px;
  border-radius: 5px;
  margin-top: 2%;
}

.payment-right-use{
  margin-top: 2px;
  text-align: center;
  font-size: 14px;
}

.or{
  width: 100%;
  display: flex;
}

.body-or-hr {
  margin-left: 18px;
  margin-top: 15px;
  width: 85%;
  color: #aba1a1;
  size: 5px;
}

.orr{
  margin-left: 20px;
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 13px;
  color: #aba1a1;
}
.login{
  color: #9d0756;
}

.login-1{
  color: #ee0032;
}

.dang-ky{
  font-weight: 600;
    font-size: 19px;
    margin: 2% 32% 2% 33%;
    width: 37%;
    height: 33px;
    border-radius: 5px;
    border-color: #9d0756;
    color: #9d0756;
}

.dang-ky-1{
  font-weight: 600;
    font-size: 19px;
    margin: 2% 32% 2% 33%;
    width: 37%;
    height: 33px;
    border-radius: 5px;
    border-color: #ee0032;
    color: #ee0032;
}